@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    
}

.texto .corDeFundo h1{
    color: white;
     background-color: black;
}

body{

    background-color: rgb(255, 255, 255);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.texto .banner{
        height: 190px;
        background-image: url(../img/rece.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 100px rgb(17 83 15);

}


nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: rgb(15, 15, 15);
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0 0 rgb(17 83 15);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;

}

.btn-expandir i{
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
}

ul li.ativo{
    background-color: rgb(17 83 15);
}

ul li.item-menu:hover{
    background-color: rgb(17 83 15);

}


ul li.item-menu a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    line-height: 39px;
}

ul li.item-menu a .txt-link{
    margin-left: 35px;
}

ul li.item-menu a .icon i{
    font-size: 30px;
    margin-left: 5px;
}

.texto h1{
    font-size: 45px;
    color: rgb(0, 0, 0);
    padding: 50px 15%;
}

.texto h2 {
    color: rgb(211, 209, 209);
    background-color: rgb(12, 59, 11);
    font-size: 17px;
    align-items:center;
    justify-content:center;
    padding: 0 10%;
    border-radius: 35px;
}

.texto h3{
    color: rgb(53, 187, 53);
    font-size: 35px;
    
    align-items:center;
    justify-content:center;
    padding: 5px 15%;
}

.texto li{
    color: rgb(0, 0, 0);
    font-size: 25px;
    
    align-items:center;
    justify-content:center;
    padding: 15px 15%;
}


.texto p{
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding: 70px 15%;
}

.fonteReceita p{
    font-size: 20px;
    color: white;
    background-color: rgb(17 83 15);
}

footer {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(82, 81, 81);
    text-align: center;
    
}

#footer_content{
    display:block;
    grid-template-columns: repeat(4,1fr);

}

#footer_turma{
    display: flex;
    background-color: rgb(14, 14, 14);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    flex-direction:column;
    gap: 1.5rem;
    
}


#footer_turma p{
    color: rgb(161 160 160);

}

#footer_copyright{
    display: flex;
    color:#ffffff;
    justify-content:center;
    background-color:rgb(46, 46, 46);
    
    padding: 10px;
    font-weight: 1;
}

#footer_turma h1{
    margin: 0;
    padding: 0;
}

#footer_turma h2{
    margin: 0;
    padding: 0;    

}